# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [4]:
# Set the date column as the DataFrame index
# Drop the date column
df.set_index('date',inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [5]:
from scipy import stats
import datetime as dt
from scipy.stats import ttest_rel

In [6]:
# Filter data for desired months
june_december_df=df.loc[(df.index.month_name()=='June')|(df.index.month_name()=='December')]
june_december_df['month']=pd.DatetimeIndex(june_december_df.index).month_name()
june_december_df

/var/folders/ck/fsffbjqs6fq4pw_nl_rsxkyc0000gn/T/ipykernel_18027/2976729897.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  june_december_df['month']=pd.DatetimeIndex(june_december_df.index).month_name()

                station  prcp  tobs month
date
2010-06-01  USC00519397  0.00    78  June
2010-06-02  USC00519397  0.01    76  June
2010-06-03  USC00519397  0.00    78  June
2010-06-04  USC00519397  0.00    76  June
2010-06-05  USC00519397  0.00    77  June
...                 ...   ...   ...   ...
2017-06-26  USC00516128  0.02    79  June
2017-06-27  USC00516128  0.10    74  June
2017-06-28  USC00516128  0.02    74  June
2017-06-29  USC00516128  0.04    76  June
2017-06-30  USC00516128  0.20    75  June

[3217 rows x 4 columns]

In [7]:
# Identify the average temperature for June
june_df=df.loc[(df.index.month_name()=='June')]
june_df['month']=pd.DatetimeIndex(june_df.index).month_name()

june_df.groupby('month').describe()['tobs']

/var/folders/ck/fsffbjqs6fq4pw_nl_rsxkyc0000gn/T/ipykernel_18027/2392052568.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  june_df['month']=pd.DatetimeIndex(june_df.index).month_name()

        count       mean       std   min   25%   50%   75%   max
month
June   1700.0  74.944118  3.257417  64.0  73.0  75.0  77.0  85.0

In [8]:
# Identify the average temperature for December
december_df=df.loc[(df.index.month_name()=='December')]
december_df['month']=pd.DatetimeIndex(december_df.index).month_name()

december_df.groupby('month').describe()['tobs']

/var/folders/ck/fsffbjqs6fq4pw_nl_rsxkyc0000gn/T/ipykernel_18027/2005021757.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  december_df['month']=pd.DatetimeIndex(december_df.index).month_name()

           count       mean      std   min   25%   50%   75%   max
month
December  1517.0  71.041529  3.74592  56.0  69.0  71.0  74.0  83.0

In [9]:
# Create collections of temperature data
june = june_df["tobs"].tolist()
december= december_df["tobs"].tolist()

In [10]:
# Run paired t-test
t_stat, p_val=stats.ttest_rel(june[:1509], december[:1509])
t_stat, p_val

(34.77018741188482, 5.049803489310465e-195)

### Analysis

The result of t-test shows that there is a statistically significant difference between June and December.